// Partners
section.section.section-lg.bg-default
	.container
		// Owl Carousel
		.owl-carousel.owl-carousel-stretch(
		data-items='1'
		data-sm-items='2'
		data-md-items='4'
		data-dots='true'
		data-nav='false'
		data-stage-padding='1'
		data-loop='false'
		data-margin='30'
		data-autoplay='true'
		data-autoplay-speed='3000'
		data-mouse-drag='false')
			a.link-corporate(href='#'): +png('brand-1-183x44')
			a.link-corporate(href='#'): +png('brand-2-118x82')
			a.link-corporate(href='#'): +png('brand-3-137x39')
			a.link-corporate(href='#'): +png('brand-4-133x77')
			a.link-corporate(href='#'): +png('brand-5-145x35')
